MONGODB_URI=mongodb://localhost:27017/labelforge
JWT_SECRET=labelforge-super-secret-jwt-key-change-in-production
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Cloudinary — screenshot storage
CLOUDINARY_CLOUD_NAME=dr2ne1ivf
CLOUDINARY_API_KEY=966846642876776
CLOUDINARY_API_SECRET=KPNFELIYlRK9djMu-OYryEtnJQk
